/* making sizing simpler  */
*, *::before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* remove default spacing */
/* force styling of the type through  */
* {
	margin: 0;
	padding: 0;
	font-family: inherit;
}

/* dark mode user-agent-styles */
html {
	color-scheme: dark light;
	hanging-punctuation: first last;
	box-sizing: inherit;
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

/* min body height */
body {
	min-height: 100svh;
	padding-top: 2.25rem;
	font-family: $ff-konnect;
	font-size: 100%;
	font-weight: $fw-400;
	font-style: normal;
	color: $clr-white;
	background-color: $clr-navy-charcoal;
}

/* responsive images/videos */
img, picture, svg, video {
	display: block;
	max-width: 100%;
	height: auto;
}

/* works between 2-4 lines long */
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

/* longer text */
p {
	max-width: 75ch; /* comfortable line length to read */
	text-wrap: pretty; /* prevent orfans words */
}

a, button {
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: none;
	box-shadow: none;
}

ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    -webkit-tap-highlight-color: transparent;
}
  
a {
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
	/* internal links to sections of the page (in page scroll) */
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}

@media only screen and (max-width: $laptop) {
	body {
		padding-top: unset;
	}
}