.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.m-block {
	margin-block: 2.5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.pb-2 {
	padding-bottom: 2rem;
}

.pb-3 {
	padding-bottom: 3rem;
}

.pb-4 {
	padding-bottom: 4rem;
}

.pb-5 {
	padding-bottom: 5rem;
}

.pt-5 {
	padding-bottom: 5rem;
}

.p-block-5 {
	padding-block: 5rem;
}

.bg-clr-white {
    background-color: $clr-white !important;
}

.bg-clr-white-teal {
    background-color: $clr-white-teal !important;
}