.deliverables {
	@include section-grid;
	padding-top: 16rem;
	padding-bottom: 8rem;
	background-color: $clr-white-teal;

	.deliverables__container {
		@include section-container;

		.title {
			grid-column: span 2;
	        place-self: center;
	        text-align: center;
	        padding-bottom: 4rem;

	        p {
	        	padding-bottom: 1rem;
	        	font-size: clamp(1.25em, 4vw, 1.5rem);
				font-weight: $fw-700;
				line-height: 1.625rem;
				letter-spacing: .24rem;
				text-transform: uppercase;
				color: $clr-teal;
	        }

	        h2 {
	        	font-family: $ff-isidora;
				font-size: clamp(2rem, 4vw, $fs-900);
				font-weight: $fw-700;
				line-height: clamp(2rem, 4vw, $fs-900);
				text-transform: uppercase;
				color: $clr-dark-navy;
	        }
		}

		.item {
			display: grid;
			grid-column: span 2;
			grid-template-columns: subgrid;
			padding-block: 3rem;

			&:last-child {
				margin-top: 5rem;
				padding-block: 5rem;
			}

			/* image left, text right */
			&:nth-child(odd) {
				& .item__img {
					grid-column: 1;
					place-self: start;
				}

				& .item__text {
					grid-column: 2;
					padding-left: 2rem;
				}
			}

			/* image right, text left */
			&:nth-child(even) {
			  	& .item__img {
					grid-column: 2;
					place-self: end;
				}

				& .item__text {
					grid-column: 1;
					padding-right: 2rem;
				}
			}

			.item__text {
				place-self: center start;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				&.it__left-p {
					grid-column: 1;
					padding-right: 2rem;
				}

				&.it__right-p {
					grid-column: 2;
					padding-left: 2rem;
				}

				.item__text__tag {
					display: flex;
					justify-content: center;
					align-items: center;
					width: max-content;
					padding: .5rem 1rem;
					border-radius: 1rem 0;
					text-transform: uppercase;
					background-color: $clr-mandarin;
				}

				h2 {
					font-family: $ff-isidora;
					font-size: clamp(2rem, 4vw, $fs-900);
					font-weight: $fw-700;
					line-height: clamp(2rem, 4vw, $fs-900);
					text-transform: uppercase;
					color: $clr-navy-charcoal;

					span {
						color: $clr-teal;
					}
				}

				p {
					font-size: clamp($fs-400, 4vw, $fs-500);
					font-weight: $fw-400;
					line-height: 1.5rem;
					color: $clr-navy-charcoal;
				}

				.item__text__cta {
					width: max-content;
					font-size: $fs-500;
					font-weight: $fw-700;
					line-height: 1.5rem;
					color: $clr-white;
					transition: background-color .4s ease-in-out;

					&:hover {
						background-color: $clr-mandarin;
					}
				}
			}

			.item__img {
				grid-column: 2;
				width: 100%;
				height: 100%;
				max-width: 26.875rem;
				min-height: 26.875rem;
				border-radius: 50%;
				object-fit: contain;

				&.ii__right-p {
					grid-column: 2;
					place-self: end;
				}

				&.ii__left-p {
					grid-column: 1;
					place-self: start;
				}
			}

			a.cta {
				grid-column: span 2;
				place-self: center;
			}
		}
	}
}