/* Home Hero */
.hero {
    @include section-grid;
    height: 34.3125rem;

    &.hh {
        margin-block: 5rem;
        @include bg-img('illustrations/roi3.svg');
        background-position-x: 65rem;
        background-size: contain;
        background-color: $clr-navy-charcoal;
    }

    .hero__container {
        @include section-container;

        .hero__text {
            grid-column: 1;
            place-self: center start;
            display: flex;
            flex-direction: column;
            padding-right: 2rem;
            
            h1 {
                font-family: $ff-isidora;
                font-size: clamp(2.5rem, 4vw, 4.875rem);
                font-style: normal;
                font-weight: $fw-700;
                line-height: clamp(2.375rem, 4vw, 4.875rem);
                text-transform: uppercase;

                span {
                    display: inline-block;
                }

                .hero__text--gold {
                    color: $clr-gold;
                }

                .hero__text--teal {
                    color: $clr-teal;
                }
            }

            p {
                padding: 1rem 0 2rem 0;
                font-family: $ff-isidora-alt;
                font-size: clamp(1.375rem, 4vw, $fs-600);
                font-weight: $fw-600;
                line-height: clamp(1.6875rem, 4vw, 2rem);
            }

            .hero__text__cta {
                width: 14.5rem;
                height: 4.25rem;
                font-size: 1.5rem;
                font-weight: $fw-600;
                line-height: 1.5rem;
                text-transform: uppercase;
                transition: background-color .4s ease-in-out;
                color: $clr-white;

                &:hover {
                    background-color: $clr-mandarin;
                }
            }
        }
    }
}
